.footer{
    position: absolute;
    bottom:0;
    width: 100%;
    background-color: black;
    color: white;
    align-items: center;
    font-size: 13px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
a{
    color: white;
    text-decoration: none;
    padding: 0 1%;
}
.links{
    padding: 0;
    width: 45%;
    text-align: right;
}
.container{
    margin-left: 2%;
    display: inline-flex;
    width: 45%;
    color: lightgray;
    padding: 0;
}
div{
    text-align: center;
    padding: 0;
}
.space{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3%;
}
p{
    transition: ease-in-out 100ms;
}
p:hover{
    color: white;
    
}
a{
    color: lightgray;
    transition: ease-in-out 100ms;
}
a:hover{
    color: white;
}
@media screen and (max-width:1000px){
    .links{
        width: 45%;
        padding: 0 2%;
    }
    .footer{
        height: auto;
    }
}
@media screen and (max-width:700px){
    .container{
        width: 100%;
        justify-content: center;
    }
    .links{
        width: 100%;
        text-align: center;
    }
}