<div class="footer">
    <div class="container">
        <div>
            <p>Digital Soulutions</p>
            
        </div>
        <div class="space"> | </div>
        <div>
            <p>Copyright 2020 DXC.technology</p>
        </div>
        <div class="space"> | </div>
        <div>
           <p>Release Version 0.0.1</p> 
        </div>
    </div>
    <div class="links">
            <a href="#">Contact Us</a>
            <a href="#">Privacy</a>
            <a routerLink="/sitemap">Sitemap</a>
            <a href="#">Terms of Use</a>
    </div>
</div>