.footer{
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    float: left;
    margin-top: 60px;
}
a{
    color: white;
    text-decoration: none;
}
.links{
    float: right;
    padding: 0;
}
.container{
    margin-left: 2%;
    display: inline-flex;
    width: 50%;
    color: lightgray;
    padding: 0;
}
li{
    display: inline;
    padding: 5px;
    list-style: none;
}
div{
    text-align: center;
    padding: 0;
}
.space{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3%;
}
p{
    transition: ease-in-out 100ms;
}
p:hover{
    color: white;
    
}
a{
    color: lightgray;
    transition: ease-in-out 100ms;
}
a:hover{
    color: white;
}