<app-nav-bar></app-nav-bar>
<app-go-back></app-go-back>

<div id="container">
    <span>
        <h2>Projects</h2>
        <hr>
    </span>
    <div id="projects">
        <div *ngFor="let project of allProjects" routerLink="/Project/{{project.id}}" class="project">
            <div id="box"><img src="../../assets/projectImages/{{project.image}}" alt="Description" /></div>
            <h3 id="title">{{project.name}}</h3>
            <hr>
            <h3>{{project.desc}}</h3>
        </div>
    </div>
</div>
<app-footer></app-footer>