<app-nav-bar></app-nav-bar>
<app-go-back></app-go-back>
<div class="content">
    <h3>Teams</h3>
    <table>
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Employees
            </th>
        </tr>
        <tr *ngFor="let team of allTeams" routerLink="/Team/{{team.id}}">
            <td>{{team.name}}</td>
            <td>{{team.desc}}</td>
            <td class="employees">{{team.numberOfEmployees()}}</td>
        </tr>
    </table>
</div>
