<div class="about-top">
    <div class="gradient"></div>
    <div class="background"></div>
    <h2>
        An immersive digital transformation experience
    </h2>
</div>
<div class="container">
    <div class="desc">
        <div class="about-text">
            <div>
            <h3>DXC Digital Transformation Center</h3>
            <p> Your engagement with a DXC Digital Transformation Center will help your team visualize how to innovate
                and
                accelerate your digital transformation journey. Our team of digital specialists will work with you to
                articulate the most significant challenges in your digital journey and then employ collaborative
                approaches
                to help you build all the essential components of your plan.
                For many companies, this is the first step in the process of building a digital roadmap. For others, an
                engagement with a DXC Digital Transformation Center can resolve issues affecting a current digital
                program.
            </p>
        </div>
        </div>
    </div>
    <div class="what-we-do">
        <ul>
            <li><b>Cocreate</b> with customers to solve their business problems.</li>
            <li><b>Provide an immersive digital culture experience </b>by having customers work with high performance, multidisciplined teams who collaborate with them on the “art of the possible.”
            </li>
            <li><b>Apply <a href="https://www.dxc.technology/bionix">DXC Bionix™</a>,</b> our approach to intelligent automation at scale, to maximize performance and accelerate digital transformation.
            </li>
            <li><b>Leverage our independent <a href="https://www.dxc.technology/partner_network">partner network </a> and global experience</b> to bring forward innovative and evolving approaches.
            </li>
            <li><b>Tap our relationships with leading universities</b> to build skills in digital and emerging technologies.
            </li>
        </ul>
    </div>
</div>