<header>
    <a class="icon white" (click)="menu()">
        <fa-icon [icon]="faEllipsis"></fa-icon>
    </a>
    <img src="assets/images/logo.png" alt="missing logo">
</header>
<div id="under">
    <img src="assets/images/logoBlack.png" alt="missing logo">
    <h2>DXC <span>Galway</span></h2>
</div>
<nav id="nav-bar">
    <div id="myLinks">
        <div routerLink=""><a >Home</a></div>
        <div routerLink="/allProjects"><a>Projects</a></div>
        <div routerLink="/allTeams"><a>Teams</a></div>
        <div routerLink="/MobilityApps"><a>Mobility apps</a></div>
    </div>
</nav>