<header>
    <a class="icon white" (click)="menu()">
        <fa-icon [icon]="faEllipsis"></fa-icon>
    </a>
    <img routerLink="" src="assets/images/logo.png" alt="missing logo">
    <form [formGroup]="searchForm" *ngIf="! isShowSearch()" (ngSubmit)="search(searchForm.value)" class="search-bar">
        <button type="submit"><fa-icon [icon]="faSearch"></fa-icon></button>
        <input placeholder="Search.." type="search" formControlName="query">
    </form>
    
</header>   

<nav id="nav-bar">
    <div id="myLinks">
        <div routerLink=""><a>Home</a></div>
        <div routerLink="/allProjects"><a>Projects</a></div>
        <div routerLink="/allTeams"><a>Teams</a></div>
        <div routerLink="/MobilityApps"><a>Mobility apps</a></div>
    </div>
</nav>