header{
    overflow: hidden;
    position: fixed;
    background-color: #000000;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    z-index: 99;
}
header a{
    color: white;
    text-align: center;
    padding: 18px 18px;
    text-decoration: none;
    height: 100% !important;
}
header a.icon{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
header a:hover{
    background-color: #ddd;
    color: black;
    cursor: pointer;
    transition: 200ms ease-in-out;
}
header img{
    
    width: 10%;
    cursor: pointer;
    float: left;
    min-width: 140px;
    height: 80%;
    margin-left: 2%;
}
header h2{
    color: #ebebeb;
    float: left;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 18px;
}

#nav-bar{
    margin-top:40px;
    z-index: 99;
    position: fixed;
    float: left;
    flex-direction: column;
    background:white;
    width: 0%;
    transition: ease-in-out 50ms;
    box-shadow: 10px 14px 28px -15px rgba(0,0,0,0.75);
}
#myLinks{
    display: none;
}
#nav-bar div{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: 75ms ease-in-out;
}
#nav-bar div a{
    text-decoration: none;
    color: black;
    margin-left: 20%;
}
#myLinks div:hover{
    background-color: rgb(230, 230, 230);
    cursor: pointer;
}
#under{
    border: 1px solid lightgrey;
    height: 125px;
    display: flex;
    align-items: center;
}
#under h2{
    font-size: 55px;
    color: black;
    margin-left: 2%;
    display: flex;
    align-items: center;
    width: auto;
}
#under img{
    margin-left: 3%;
    width: 5%;
    min-width: 50px;
    cursor: pointer;
}
#under span{
    color: black;
    font-size: 30px;
    margin-left: 5%;
}
.search-bar{
    float:right;
    width:100%;
    margin:0 1em;
}
.search-bar input, .search-bar button{
    float:right;
}
.search-bar input{
    background:black;
    color:white;
    padding: 10px;
    font-size: 17px;
    border: none;
    border-left:1px solid grey;
    border-right:1px solid grey;
}
.search-bar button{
    padding: 10px;
  background: black;
  color:grey;
  font-size: 17px;
  border: none;
  cursor: pointer;
  transition: 100ms all ease-in-out;
}
.search-bar button:hover{
    color:yellow;
}
@media screen and (max-width: 800px) {
    .search-bar button, .search-bar input{
        padding: 1px 3px;
    }
    .search-bar input{
        width:60%;
    }
    }
    