<div *ngIf="!isLogin()">


<header>


    <img routerLink="" src="assets/images/logo.png" alt="missing logo">
    <div id="routes">
        <div routerLink=""><a>Home</a><div class="link-hover"></div></div>
        <div routerLink="/allProjects"><a>Projects</a><div class="link-hover"></div></div>
        <div routerLink="/MobilityApps"><a>Mobility apps</a><div class="link-hover"></div></div>
        <div routerLink="/sitemap"><a>Floor Plan</a><div class="link-hover"></div></div>
    </div>

    <form [formGroup]="searchForm" *ngIf="! isShowSearch()" (ngSubmit)="search(searchForm.value)" class="search-bar">
        <input placeholder="Search.." type="search" formControlName="query">
        <button type="submit"><fa-icon [icon]="faSearch"></fa-icon></button>
        
    </form>
    <a class="icon white" (click)="menu()">
        <fa-icon [icon]="faBars"></fa-icon>
    </a>

    
</header>   

<nav id="nav-bar">
    <form [formGroup]="searchForm" *ngIf="! isShowSearch()" (ngSubmit)="search(searchForm.value)" class="search-bar">
        <div class="search-input">
        <input placeholder="Search.." type="search" formControlName="query">
        <button type="submit"><fa-icon [icon]="faSearch"></fa-icon></button>
    </div>
    </form>
    <div id="myLinks">

        <div routerLink=""><a>Home</a></div>
        <div routerLink="/allProjects"><a>Projects</a></div>
        <div routerLink="/MobilityApps"><a>Mobility apps</a></div>
        <div routerLink="/sitemap"><a>Floor Plan</a></div>
    </div>
</nav>
</div>