<app-nav-bar></app-nav-bar>
<app-go-back></app-go-back>
<div class="Container">
    <div id="team">
        <p routerLink="/Team/{{team.id}}">Members in team: {{team.name}}</p>
        <div *ngFor="let emp of team.employees">
            <figure *ngIf="emp.id != employee.id" class="image" routerLink="/Person/{{emp.id}}" (click)="this.ngOnInit()">
                <img src="../../assets/images/profile.jpg" alt="employee">
                <figcaption>{{emp.name}}</figcaption>
                <figcaption>{{emp.role}}</figcaption>
            </figure>
        </div>
    </div>
    <div id="person">
        <figure id="focus">
            <img src="../../assets/images/profile.jpg" alt="focusedEmployee">
            <figcaption>{{employee.fullName()}}</figcaption>
            <figcaption>{{employee.role}}</figcaption>
        </figure>
        <div id="description">
            <h5>Skills:</h5>
            <ul>
                <li *ngFor="let skill of skills">{{skill}}, </li>
            </ul>
            <p></p>
            <p id="about">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste, placeat! Eos provident quaerat beatae, hic ut quisquam laborum delectus deleniti amet vitae ea, in tempore voluptatem, non molestias perspiciatis dolor.</p>
        </div>
        
    </div>
    
</div>
<!-- <div class="employee-projects">
    <div class="project" >
        <figure  routerLink="/Project/{{project.id}}">
            <figcaption>{{project.name}}</figcaption>
            <figcaption>{{project.desc}}</figcaption>
        </figure>
    </div>
</div> -->
<div class="content">
    <h3>Projects</h3>
    <table>
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
        </tr>
        <tr *ngFor="let project of employeeProjects" routerLink="/Project/{{project.id}}">
            <td>{{project.name}}</td>
            <td>{{project.desc}}</td>
        </tr>
    </table>
</div>
<app-footer></app-footer>
