.Container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}
.image{
    width: 90%;
    margin-right: 15px;
    margin: auto;
<<<<<<< HEAD
    border:2px solid grey;
    padding:5px;
    transition: 200ms all ease-in-out;
    cursor:pointer;
}
.image:hover{
    background-color:rgba(150, 150, 150, .5);
=======
    padding: 5px;
    border: 2px solid grey;
    transition: 200ms all ease-in-out;
    cursor: pointer;
}
.image:hover{
    background-color: rgba(150, 150, 150, .5);
>>>>>>> f860cb30e103c9552b30bdba098b9c2aa7ce0019
}
#team{
    width: 15%;
    order: 1;
    text-align: center;
    max-height: 85vh;
    overflow-y: auto;
    overflow-x: hidden;
    border: 2px solid grey;
}
#person{
    order: 2;
    width: 40%;
}
img{
    max-width: 100%;
}
#focus{
    width: 85%;
    margin: auto;
    text-align: center;
}
#description{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#list{
    order: 1;
}
#about{
    order: 2;
    width: 70%;
}
