<app-nav-bar></app-nav-bar>
<h2>Person page works!</h2>
<div class="Container">
    <div id="team">
        <p>Members in team: {{team.name}}</p>
        <figure *ngFor="let employee of team.employees" class="image" routerLink="/Person/:{{employee.id}}">
            <img src="../../assets/images/profile.jpg" alt="">
            <figcaption>{{employee.name}}</figcaption>
            <figcaption>{{employee.role}}</figcaption>
        </figure>
    </div>
    <div id="person">
        <figure id="focus">
            <img src="../../assets/images/profile.jpg" alt="">
            <figcaption>Conor</figcaption>
            <figcaption>Project Manager</figcaption>
        </figure>
        <div id="description">
            <ul id="list">
                Skills:
                <li>c#</li>
                <li>Angular</li>
                <li>Node.js</li>
            </ul>
            <p id="about">basic filler text to make up space on the page where the description should be when the site is done.</p>
        </div>
    </div>
</div>