#grid{
    text-align: justify;
    display: grid;
    grid-template-areas:"header header header header header"
                        "leftOwner main main main logo"
                        "leftOwner roadmap text img .";
    grid-template-columns: 12.5% 28% 20% 22.5% 10%;
    column-gap: 2%;
    row-gap: 1%;
    margin: 1%;
    padding-bottom: 60px;

}

hr{
    width: 70%;
}
#topImg {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 35vh;
}
#topImg img {
    flex-shrink: 0;
    min-width: 100%;
}
#owners{
    grid-area: leftOwner;
    overflow-y:auto;
    height: 65vh;
}
#owners figure{
    grid-area: main;
    width: 85%;
    margin-right: 15px;
    margin: 1em auto;
    padding: 5px;
    border-bottom: 2px solid grey;
    transition: 200ms all ease-in-out;
    cursor: pointer;
}
#owners img{
    width: 100%;
}
#main{
    grid-area: main;
}
#title{
    grid-area: header;
    text-align: center;
}
.logos{
    grid-area: logo;
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: auto;
}
#roadmap{
    grid-area: roadmap;
    background-image:url("../../assets/images/roadmap.png");
    background-repeat: no-repeat;
    position: relative;
    background-size:contain;
}
#roadmap img {
    width: 100%;
}
#img{
    grid-area: img;
}
#img img{
    width: 100%;
}
.header-img{
    width:100%;
    height: 50vh;
}
@media screen and (max-width: 600px) {
    .header-img{
        height: 20vh;
    }
  }
  #opportunity{
      left:0.3%;
  }
  #quote{
    left:17%;
  }
  #order{
    left:31.7%;
  }
  #planning{
      left:44.4%;
  }
  #resources{
      left:57%;
  }
  #execute{
      left:71%;
  }
  #invoice{
      left:84%;
  }
  #opportunity:hover ~ #opportunity-info,  #opportunity-info:hover{
    transform: scaleY(1);
  }
  #quote:hover ~ #quote-info, #quote-info:hover{
    transform: scaleY(1);
  }
  #order:hover ~ #order-info, #order-info:hover{
    transform: scaleY(1);
  }
  #planning:hover ~ #planning-info, #planning-info:hover{
    transform: scaleY(1);
  }
  #resources:hover ~ #resources-info, #resources-info:hover{
    transform: scaleY(1);
  }
  #execute:hover ~ #execute-info, #execute-info:hover{
    transform: scaleY(1);
  }
  #invoice:hover ~ #invoice-info, #invoice-info:hover{
    transform: scaleY(1);
  }
  #roadmap .roadmap-part{
    position: absolute;
    width: 14.3%;
    height:9%;
    transition: 200ms all ease-in-out;
    z-index: 99;
    cursor: pointer;
  }

  .info{
      border-radius: 3px;
      text-align: justify;
      color:white;
      top:9%;
      position: absolute;
      background:rgba(0,0,0,.7);
      overflow: hidden;
      width:100%;
      transform: scaleY(0);
      transition: 200ms all ease-in-out;
  }
  .info p{
      padding:1em;
      font-size:1.5em;
  }
  @media screen and (max-width: 1200px) {
    #grid{
     grid-template-areas:"header"
     "main"
     "roadmap"
     "text"
     "img"
     "leftOwner"
     "logo";
     grid-template-columns: auto;
     grid-template-rows:5% 10% 25%;
     margin: 2em 3em;
     padding-bottom: 150px;
    } 
    #roadmap .roadmap-part{
         height:18% !;
    }
    .info{
        top:18%;
    }
 
 }