<div id="topImg"><img src="../../assets/images/{{project.images[0]}}" alt="project description" /></div>
<div id="grid">
    <div id="title">
        <h2>{{project.name}}</h2>
        <hr>
    </div>
    <div id="main">
        {{project.desc}}
        {{project.id}}
    </div>
    <div class="logos">
        <img *ngFor="let logo of project.logos" src="../../assets/images/{{logo}}" alt="missing logo">
    </div>
    <div id="owners">
        <figure *ngFor="let emp of employees" routerLink="/Person/{{emp.id}}">
            <img src="../../assets/images/profile.jpg" alt="ownerIMG">
            <figcaption>{{emp.name}}</figcaption>
            <figcaption>{{emp.projectRole}}</figcaption>

        </figure>
    </div>
    <div id="roadmap">
        <a (click)="scroll('#opportunity-summary')" target="_self"class="roadmap-part" id="opportunity"></a>
        <a (click)="scroll('#quote-summary')"class="roadmap-part" id="quote"></a>
        <a (click)="scroll('#order-summary')"class="roadmap-part" id="order"></a>
        <a (click)="scroll('#planning-summary')"class="roadmap-part" id="planning"></a>
        <a (click)="scroll('#resources-summary')"class="roadmap-part" id="resources"></a>
        <a (click)="scroll('#execution-summary')"class="roadmap-part" id="execute"></a>
        <a (click)="scroll('#invoice-summary')"class="roadmap-part" id="invoice"></a>
        <div class="info" id="opportunity-info">
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                sed quia consequuntur magni dolores eos qui ratione voluptatem</p>
        </div>
        <div class="info" id="quote-info">
            <p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth.</p>
        </div>
        <div class="info" id="order-info">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
                quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,
                imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.
                Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula,
                porttitor eu, consequat vitae, eleifend ac, enim.</p>
        </div>
        <div class="info" id="planning-info">
            <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring
                which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which
                was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the
                exquisite sense of mere tranquil existence, that I neglect my talents.</p>
        </div>
        <div class="info" id="resources-info">
            <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed
                into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could
                see his brown belly, slightly domed and divided by arches into stiff sections. </p>
        </div>
        <div class="info" id="execute-info">
            <p>The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog.</p>
        </div>
        <div class="info" id="invoice-info">
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live
                the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large
                language ocean.</p>
        </div>
    </div>
    <div id="text">
        <p>Proof of Concept --> Product, challanges, clients involved etc Proof of Concept --> Product, challanges,
            clients involved etc Proof of Concept --> Product, challanges, clients involved etc Proof of Concept -->
            Product, challanges, clients involved etc Proof of Concept --> Product, challanges, clients involved etc
            Proof of Concept --> Product, challanges, clients involved etc Proof of Concept --> Product, challanges,
            clients involved etc </p>
    </div>
    <div id="img"><img src="../../assets/images/content4.jpg" alt="missing image"></div>
    
</div>
<div class="Summary" id="opportunity-summary">
    <h4>Opportunity</h4>
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
        dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
        sed quia consequuntur magni dolores eos qui ratione voluptatem</p>
</div>
<div class="Summary" id="quote-summary">
    <h4>Quote</h4>
    <p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth.</p>
</div>
<div class="Summary" id="order-summary">
    <h4>Order</h4>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
        massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
        quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
        Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,
        imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.
        Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula,
        porttitor eu, consequat vitae, eleifend ac, enim.</p>
</div>
<div class="Summary" id="planning-summary">
    <h4>Planning</h4>
    <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring
        which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which
        was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the
        exquisite sense of mere tranquil existence, that I neglect my talents.</p>
</div>
<div class="Summary" id="resources-summary">
    <h4>Resources</h4>
    <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed
        into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could
        see his brown belly, slightly domed and divided by arches into stiff sections. </p>
</div>
<div class="Summary" id="execution-summary">
    <h4>Execution</h4>
    <p>The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog.</p>
</div>
<div class="Summary" id="invoice-summary"> 
    <h4>Invoice</h4>
    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live
        the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large
        language ocean.</p>
</div>