<app-nav-bar></app-nav-bar>
<app-go-back></app-go-back>
<div id="container">
    <!-- <img src="../../assets/projectImages/{{project.image}}" alt="project description"/> -->
    <div class="header-img" [style.backgroundImage]="'url(../../assets/images/' + project.image + ')'" [style.backgroundSize]="'cover'" [style.backgroundPosition]="'center'"></div>
    <h2>{{project.name}}</h2>
    <hr>
    {{project.desc}}
    {{project.id}}
    <h3>Product Owners:</h3>
    <div *ngFor="let owner of productOwners" routerLink="/Person/{{owner.id}}" class="">
        <h4>{{owner.fullName()}}</h4>
        <p>{{owner.skills}}</p>
    </div>
    <h3>Employees:</h3>
    <div *ngFor="let employee of employees" routerLink="/Person/{{employee.id}}" class="">
        <h4>{{employee.fullName()}}</h4>
        <p>{{employee.skills}}</p>
    </div>
</div>
<app-footer></app-footer>

<app-footer></app-footer>
