<app-nav-bar></app-nav-bar>
<div id="topImg"><img src="../../assets/images/{{project.image}}" alt="project description" /></div>
<div id="grid">
    <div id="title">
        <h2>{{project.name}}</h2>
        <hr>
    </div>
    <div id="main">
        {{project.desc}}
        {{project.id}}
    </div>
    <div class="logos" >
        <img  *ngFor="let logo of project.logos"src="../../assets/images/{{logo}}" alt="missing logo">
    </div>
    <div id="owners">
        <figure *ngFor="let owner of productOwners" routerLink="/Person/{{owner.id}}">
            <img src="../../assets/images/profile.jpg" alt="ownerIMG">
            <figcaption>{{owner.name}}</figcaption>
            <figcaption>{{owner.role}}</figcaption>
        </figure>
        <figure *ngFor="let emp of employees" routerLink="/Person/{{emp.id}}">
            <img src="../../assets/images/profile.jpg" alt="ownerIMG">
            <figcaption>{{emp.name}}</figcaption>
            <figcaption>{{emp.role}}</figcaption>
        </figure>
    </div>
    <div id="roadmap"><img src="../../assets/images/roadmap.png" alt="missing roadmap image"></div>
    <div id="text">
        <p>Proof of Concept --> Product, challanges, clients involved etc Proof of Concept --> Product, challanges,
            clients involved etc Proof of Concept --> Product, challanges, clients involved etc Proof of Concept -->
            Product, challanges, clients involved etc Proof of Concept --> Product, challanges, clients involved etc
            Proof of Concept --> Product, challanges, clients involved etc Proof of Concept --> Product, challanges,
            clients involved etc </p>
    </div>
    <div id="img"><img src="../../assets/images/content4.jpg" alt="missing image"></div>
</div>
<app-footer></app-footer>
