#container{
    background-color: white;
    width: 70px;
    height: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 5px;
    border: 1px solid lightgrey;
    border-left: none;
    cursor: pointer;
    transition: ease-in-out 200ms;
}
#container:hover{
     background-color: rgb(230, 230, 230);
}
h2{
    transition: ease-in-out 200ms;
}
