h2{
    font-size: 46px;
}
.content{
    padding:4em;
    display:grid;
    grid-template-areas: 
    "main main sideone sidetwo"
    "main main sidethree sidefour";
    height:70vh;
    grid-gap: 5px;
    grid-template-rows: repeat(2, 3fr);
}
@media screen and (max-width: 1000px) {
    .content{
        grid-template-rows: repeat(3, 3fr);
        grid-template-areas: 
        "main main main main"
        "sidethree sidethree sidetwo sidetwo"
        "sideone sideone sidefour sidefour" !important;
    }
  }

.project-desc{
    position: relative;
    height:100%;
    transition: 150ms all ease-in-out;
    cursor: pointer;;
}
.project-desc:hover{
    background-color:rgba(0,0,0,.5)
}
.project-desc h5{
    font-size:2em;
    color:rgb(255,255,255);
    position: absolute;
    margin:2.5em 1em;
    bottom:0;
}

.content-image:nth-child(1){
    background-image:url("../../assets/images/work1.jpg");
    grid-area: main;
}
.content-image:nth-child(2){
    background-image:url("../../assets/images/work2.jpg");
    grid-area: sideone;
}
.content-image:nth-child(3){
    background-image:url("../../assets/images/work3.jpeg");
    grid-area: sidetwo;
}
.content-image:nth-child(4){
    background-image:url("../../assets/images/work4.jpg");
    grid-area: sidethree;
}
.content-image:nth-child(5){
    background-image:url("../../assets/images/work5.jpg");
    grid-area: sidefour;
}
.content-image{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.drop-down div{

    color: black;
    background-color: white;
}
#drop div:hover{
    background-color: rgb(230, 230, 230);
    transition: 75ms ease-in-out;
}
#container{
    margin: 4em;
    display: flex;
    flex-direction: column;
    transition: 400ms ease-in-out;
}
#container div{
    width:100%;
    transition: 100ms ease-in-out;
}
#text{
    background-color: black;
    color: white;
    display: flex;
    align-content: center;
}
h3{
    margin-left: 2em;
    width: 80%;
}
#drop span{
    margin-left: 2em;
    font-weight: normal;
}
#drop{
    display: none;
    flex-direction: column;
    max-height: 30vh;
    overflow-y: auto;
}
#icon{
    display: flex;
    align-items: center;
    margin-left: 15%;
    padding-right: 2%;
}