<div id="visit">
    <div id="pop">
        <span class="close" (click)="popUp()">&times;</span>
        <div id="pop-text">
            <h1>Interested in what we do?</h1>
            <h3>Book a visit to the DXC Galway facility today!</h3>
        </div>
        <div>
            <form [formGroup]="mailForm" (ngSubmit)="sendMessage(mailForm.value)"action="" id="pop-form" >
                <input placeholder="Name@example.com" type="email" formControlName="mail" required>
                <input placeholder="Full name" type="text" formControlName="name" required>
                <input placeholder="Phone number" type="tel" formControlName="phone" required>
                <br>
                <button type="submit">SUBMIT</button>
            </form>
        </div>
    </div>
    <div id="overlay" (click)="popUp()"></div>
</div>
<div class="about-section">
    <div class="background"></div>
    <div class="about-text">
        <h2>DTC Galway</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci aut quod animi pariatur dolorem
            tenetur asperiores expedita, fuga totam sint voluptate delectus dicta accusamus. Repellendus officia
            sapiente voluptas ab dolor placeat adipisci, maxime at dolorem quod in amet quia ratione modi quas alias
            a delectus voluptatibus voluptatem doloremque, est unde inventore. Magni illum nostrum fugit saepe
            quidem impedit temporibus numquam. Suscipit fuga maiores explicabo eveniet asperiores perspiciatis
            obcaecati voluptate, vero officiis repellat, est quam eaque voluptatibus. Modi ipsum nostrum
            reprehenderit eum tenetur natus. Quam, cum? Maiores, nulla! Culpa ut iure pariatur obcaecati, amet
            officiis dolore eius laudantium sequi alias unde.
        </p>
        <button routerLink="/about">READ MORE</button>
        <button id="book-visit" (click)="popUp()">BOOK A VISIT</button>
    </div>
</div>
<div class="content">
    <video width="800" controls>
        <source src="assets/videos/DXCTechnology.mp4" type="video/mp4">
        <source src="assets/videos/mov_bbb.ogg" type="video/ogg">
        Your browser does not support HTML video.
      </video>
    <!-- <div *ngFor="let project of showProjects" routerLink="/Project/{{project.id}}" class="content-image">
        <div class="project-desc">
            <div class="cool-hover"></div>
            <h5>{{project.name}}<span>{{project.desc}}</span></h5>
        </div>
    </div> -->
</div>
<div id="container">
    <div id="text" (click)="dropDown()">
        <h3>Upcoming events</h3>
        <fa-icon [icon]="faChevronDown" id="icon"></fa-icon>
    </div>
    <div id="drop" class="drop-down">
        <div>
            <h3>Event name <br><span>Some details about time and place</span></h3>
        </div>
        <div>
            <h3>Event name <br><span>Some details about time and place</span></h3>
        </div>
        <div>
            <h3>Event name <br><span>Some details about time and place</span></h3>
        </div>
        <div>
            <h3>Event name <br><span>Some details about time and place</span></h3>
        </div>
        <div>
            <h3>Event name <br><span>Some details about time and place</span></h3>
        </div>
    </div>
</div>